{% extends 'academia/base.html' %}
{% block title %}
Centro de estudio
{% endblock %}
{% block content %}
<div>
    <h1>Alumnos</h1>
    <p><a href="{% url 'informacionalumnos' %}">Gestion de los alumnos</a></p>
    <p>
        <a href="{% url 'listadoalumnos' %}">Listado de Alumnos</a>
    </p>
    <p>
        <a href="{% url 'crearalumno' %}">Crear un alumno</a>
    </p>
</div>

<div>
    <h1>Padres</h1>
    <p>Gestion de los Padres</p>
    <p>
        <a href="{% url 'listadopadres' %}">Listado de padres</a>
    </p>
    <p>
        <a href="{% url 'crearpadre' %}">Apuntar un padre</a>
    </p>
</div>

<div>
    <h1>Profesores</h1>
    <p>Gestion de los profesores</p>
    <p>
        <a href="{% url 'listadoprofesores' %}">Listado de profesores</a>
    </p>
    <p>
        <a href="{% url 'crearprofesor' %}">Apuntar un profesor</a>
    </p>
</div>

<div>
    <h1>Pagos</h1>
    <p>Gestion de los pagos</p>
    <p>
        <a href="{% url 'listadopagos' %}">Listado de pagos</a>
    </p>
    <p>
        <a href="{% url 'crearpago' %}">Apuntar Pago</a>
    </p>
</div>

<div>
    <h1>Asistencia</h1>
    <p><a href="{% url 'asistenciaHome' %}">Asistencia de los alumnos</a></p>
    <p><a href="{% url 'crearasistencia' %}">Apuntar asistencia</a></p>
</div>
{% endblock %}