{% extends 'academia/base.html' %}
{% block title %}
Centro de estudio
{% endblock %}
{% block content %}

<h1>Alumnos</h1>
<p><a href="{% url 'informacionalumnos' %}">Gestion de los alumnos</a></p>
<a href="{% url 'listadoalumnos' %}">Listado de Alumnos</a>
<a href="{% url 'crearalumno' %}">Crear un alumno</a>

<h1>Padres</h1>
<p>Gestion de los Padres</p>
<a href="{% url 'listadopadres' %}">Listado de padres</a>
<a href="{% url 'crearpadre' %}">Crear un padre</a>

<h1>Profesores</h1>
<p>Gestion de los profesores</p>
<a href="{% url 'listadoprofesores' %}">Listado de profesotes</a>
<a href="{% url 'crearprofesor' %}">Crear un profesor</a>

<h1>Pagos</h1>
<p>Gestion de los pagos</p>
<a href="{% url 'listadopagos' %}">Listado de pagos</a>
<a href="{% url 'crearpago' %}">Crear Pago</a>
{% endblock %}