{% extends 'academia/base.html' %}
{% block content %}
<h1>Listado de Alumnos</h1>
<table>
    {% for alumno in object_list %}
    <tr>
        <td>{{ alumno.curso }}</td>
        <td>{{ alumno }}</td>
        <td><a href="{% url 'editarpadre' alumno.padre.id %}">{{ alumno.padre }}</a></td>
        <td><a href="{% url 'editarprofesor' alumno.profesor.id %}">{{ alumno.profesor }}</a></td>
        <td>{{ alumno.telefono }}</td>
        <td>{{ alumno.mail }}</td>
        <td><a href="{% url 'editaralumno' alumno.id %}">Editar</a></td>
        <td><a href="{% url 'eliminaralumno' alumno.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}