{% extends 'academia/base.html' %}
{% block title %}Listado de pagos{% endblock %}

{% block content %}

<h1>Listado de Pagos</h1>
<table>
    {% for pago in object_list %}
    <tr>
        <td>{{ pago.id }}</td>
        <td>{{ pago.fecha }}</td>
        <td><a href="{% url 'padre' pago.padre.id %}">{{ pago.padre }}</a></td>
        <td>{{ pago.cantidad }}</td>
        <td><a href="{% url 'editarpago' pago.id %}">Editar Pago</a></td>
        <td><a href="{% url 'eliminarpago' pago.id %}">Eliminar Pago</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}